<div class="item">

  <input [id]="item.description" type="checkbox" (change)="item.done = !item.done" [checked]="item.done" />
  <label [for]="item.description">{{item.title}}</label>
  <div class="task-description">{{item.description}}</div>
  <div class="task-due-date">{{item.dueDate}}</div>



  <div class="btn-wrapper" *ngIf="!editable">
    <button class="btn" (click)="editable = !editable">Edit</button>
    <button class="btn btn-warn" (click)="remove.emit()">Delete</button>
  </div>

  <!-- This section shows only if user clicks Edit button -->
  <div *ngIf="editable">
    <input class="sm-text-input" placeholder="edit title" [value]="item.title" #editedTitle>
    <input class="sm-text-input" placeholder="edit description" [value]="item.description" #editedDescription>
    <input class="sm-text-input" placeholder="edit due date" [value]="item.dueDate" #editedDueDate>

    <div class="btn-wrapper">
      <button class="btn" (click)="editable = !editable">Cancel</button>
      <button class="btn btn-save"
        (click)="saveItem({title:editedTitle.value,description:editedDescription.value, dueDate:editedDueDate.value})">Save</button>
    </div>
  </div>

</div>